<!-- views/edit-post.handlebars -->
<div class="login-form">
    <h2 class="login-title">Edit Post: {{post.title}}</h2>
    <form action="/posts/update/{{post.id}}" method="POST">
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="title" required class="form-input" placeholder="Enter title here">

        <label for="content" class="form-label">Content:</label>
        <textarea id="content" name="content" required class="form-textarea" placeholder="Enter content"></textarea>

        <button type="submit" class="comment-submit">Update Post</button>
    </form>
</div>
